<h1 class="centrar">Personajes de Rick and Morty</h1>

<ng-container *ngIf="datos; else nada">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de creacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personaje of datos.results">
        <th>{{personaje.id}}</th>
        <td>{{personaje.name}}</td>
        <td [ngSwitch]="personaje.status">
          <ng-template [ngSwitchCase]="'Alive'">Vivo</ng-template>
          <ng-template [ngSwitchCase]="'Dead'">Muerto</ng-template>
          <ng-template [ngSwitchCase]="'unknown'">Desconocido</ng-template>
        </td>
        <td>{{personaje.created | date:'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" (click)="anterior()">anterior</a></li>
        <li class="page-item"><a class="page-link" href="#" (click)="siguiente()">siguiente</a></li>
      </ul>
    </nav>
  </table>
</ng-container>

<ng-template #nada>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>




